---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '../ui/Headline.astro';
import Image from '~/components/common/Image.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  image;
}

const {
  image = await Astro.slots.render('image'),
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  callToAction = await Astro.slots.render('callToAction'),
} = Astro.props as Props;
---

<WidgetWrapper>
  <div class="flex justify-around w-full">
    <div class="w-1/5 p-2">
      {
        image && (
          <div class="">
            {typeof image === 'string' ? (
              <Fragment set:html={image} />
            ) : (
              <Image
                class="rounded-md"
                widths={[20, 40, 60, 70]}
                sizes="(max-width: 70px) 20px, (max-width: 70px) 20px, (max-width: 70px) 40px, 70px"
                loading="eager"
                width={70}
                height={70}
                {...image}
              />
            )}
          </div>
        )
      }
    </div>
    <div class="flex flex-col justify-around w-3/4">
      <Headline
        title={title}
        subtitle={subtitle}
        tagline={tagline}
        classes={{
          container: '',
          title: 'text-sm font-bold leading-tighter align-top tracking-wide ',
          subtitle: 'text-xs',
        }}
      />
      {
        typeof callToAction === 'string' ? (
          <Fragment set:html={callToAction} />
        ) : (
          callToAction &&
          callToAction.text &&
          callToAction.href && (
            <div class=" max-w-xs mx-auto">
              <a class=" btn btn-primary w-full sm:w-auto" href={callToAction.href} target="_blank" rel="noopener">
                {callToAction.text}
              </a>
            </div>
          )
        )
      }
    </div>
  </div>
</WidgetWrapper>
