---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
  sommaire1 = await Astro.slots.render('sommaire1'),
  sommaire2 = await Astro.slots.render('sommaire2'),
  sommaire3 = await Astro.slots.render('sommaire3'),
  sommaire4 = await Astro.slots.render('sommaire4'),
  sommaire5 = await Astro.slots.render('sommaire5'),
  sommaire6 = await Astro.slots.render('sommaire6'),
  sommaire7 = await Astro.slots.render('sommaire7'),
  sommaire8 = await Astro.slots.render('sommaire8'),
} = Astro.props;
---
<section class="relative mx-4 md:mt-6 md:ml-5">
  <div class="relative md:max-w-3xl xl:max-w-4xl sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-1 md:py-1">
      <div class=" pb-10 max-w-screen-lg">
        {
          tagline && (
            <p
              class="text-base text-secondary font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
          title && (
            <h1
              class="text-xl md:text-xl font-bold leading-tighter tracking-wide mb-4 "
              set:html={title}
            />
          )
        }
        <div class="max-w-3xl ">
          {subtitle && <p class=" text-base mb-6" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
            {
              callToAction && (
                <div class="flex w-full sm:w-auto">
                  {typeof callToAction === 'string' ? (
                    <Fragment set:html={callToAction} />
                  ) : (
                    <a class="" href={callToAction?.href} target="_blank" rel="noopener">
                      {callToAction?.icon && <></>}
                      {callToAction?.text}
                    </a>
                  )}
                </div>
              )
            }
            {
              callToAction2 && (
                <div class="flex w-full sm:w-auto">
                  {typeof callToAction2 === 'string' ? (
                    <Fragment set:html={callToAction2} />
                  ) : (
                    <a class="btn w-full" href={callToAction2?.href}>
                      {callToAction2?.icon && (
                        <>
                          <Icon name={callToAction2.icon} class="w-5 h-5 mr-1 -ml-1.5" />
                          &nbsp;
                        </>
                      )}
                      {callToAction2.text}
                    </a>
                  )}
                </div>
              )
            }
          </div>
  </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div>
        {
          image && (
            <div class="m-auto max-w-5xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="items-center w-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="eager"
                  width={800}
                  height={600}
                  {...image}
                />
              )}
            </div>
          )
        }
  </div>
  <div class="">
    <div>
        <p class="mt-5 ml-4 mb-6 text-xl uppercase font-bold">Sommaire:</p>
        <ul class="text-gray-500 font-sm ml-4 mb-2">
            <li class="">
              {
                sommaire1 && (
                <a href="#section1" class="hover:underline" set:html={sommaire1}></a>
                )}
            </li>
            <li class="">
              {
                sommaire2 && (
                <a href="#section2" class="hover:underline" set:html={sommaire2}></a>
                )}
            </li>
            <li class="">
              {
                sommaire3 && (
                <a href="#section3" class="hover:underline" set:html={sommaire3}></a>
                )}
            </li>
            <li class="">
              {
                sommaire4 && (
                <a href="#section4" class="hover:underline" set:html={sommaire4}></a>
                )}
            </li>
            <li class="">
              {
                sommaire5 && (
                <a href="#section5" class="hover:underline" set:html={sommaire5}></a>
                )}
            </li>
            <li class="">
              {
                sommaire6 && (
                <a href="#section6" class="hover:underline" set:html={sommaire6}></a>
                )}
            </li>
            <li class="">
              {
                sommaire7 && (
                <a href="#section7" class="hover:underline" set:html={sommaire7}></a>
                )}
            </li>
            <li class="">
              {
                sommaire8 && (
                <a href="#section8" class="hover:underline" set:html={sommaire8}></a>
                )}
            </li>
        </ul>
    </div>
 </div>
</div>
</section>
