---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';


import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export async function getStaticPaths({ paginate }) {
  return await getStaticPathsBlogList({ paginate });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Spécialiste en volets: Notre Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description:`Explorez les dernières tendances et conseils en matière de volets roulants sur notre blog captivant ! Nous vous tiendrons informés des innovations les plus récentes dans le domaine des volets roulants, des designs modernes aux fonctionnalités intelligentes. Découvrez comment intégrer ces solutions élégantes dans votre espace de vie pour un équilibre parfait entre esthétique et praticité. blog${currentPage > 1 ? ` — Page de blog ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
    image: '~/assets/images/volet-roulant-square-13.png'
  },
};
---

<Layout metadata={metadata}>
  <section class="mx-auto py-12 md:py-16 w-11/12 md:max-w-4xl">
    <Headline subtitle="Trouvez des informations et des conseils sur les volets roulants.">Univers du Savoir Éternel</Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
